<main>
  <app-info [user]="user"></app-info>
  <app-cards></app-cards>

  <div class="text-center">
    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
      data-bs-target="#exampleModal">
      Agregar Nueva Tarjeta
    </button>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Tarjeta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="newCardForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="nameInput" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nameInput" placeholder="Tarjeta numero uno"
                formControlName="name" required>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name.errors?.['required']">
                  Nombre es requerido.
                </div>
                <div *ngIf="name.errors?.['maxlength']">
                  El nombre no puede exceder los 20 caracteres.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="numberInput" class="form-label">Numero</label>
              <input type="text" class="form-control" id="numberInput" placeholder="0000 0000 0000 0000"
                formControlName="number" required>
              <div *ngIf="number.invalid && (number.dirty || number.touched)" class="alert alert-danger">

                <div *ngIf="number.errors?.['required']">
                  El numero de tarjeta es requerido.
                </div>
                <div *ngIf="number.errors?.['pattern']">
                  El formato del numero de tarjeta es incorrecto
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="typeInput" class="form-label">Tipo</label>
              <select class="form-select" aria-label="Default select example" id="typeInput" formControlName="type"
                required>
                <option value="Debito">Debito</option>
                <option value="Credito">Credito</option>
              </select>
              <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">

                <div *ngIf="type.errors?.['required']">
                  El tipo de tarjeta es requerido.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="bankInput" class="form-label">Banco</label>
              <select class="form-select" aria-label="Default select example" id="bankInput" formControlName="bank"
                required>
                <option *ngFor="let bank of banks" [ngValue]="bank">{{bank.name}}</option>
              </select>
              <div *ngIf="bank.invalid && (bank.dirty || bank.touched)" class="alert alert-danger">

                <div *ngIf="bank.errors?.['required']">
                  El banco de la tarjeta es requerido.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="expireDateInput" class="form-label">Fecha de Vencimiento</label>
              <input type="text" class="form-control" id="expireDateInput" placeholder="XX/XX"
                formControlName="expireDate" required>
              <div *ngIf="expireDate.invalid && (expireDate.dirty || expireDate.touched)" class="alert alert-danger">

                <div *ngIf="expireDate.errors?.['required']">
                  La fecha de vencimiento es requerido.
                </div>
                <div *ngIf="expireDate.errors?.['pattern']">
                  El formato de la fecha de vencimiento es incorrecto
                </div>
              </div>
            </div>
            <p></p>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal"
                [disabled]="!newCardForm.valid">Save changes</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</main>