<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom ">
    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none" routerLink="">
      <span class="fs-4">Programacion III</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="loadDummyData" >Load Dummy Data</a>
    </nav>
    
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="login" >Iniciar Sesión</a>
    </nav>

  </div>
</header>