mat-toolbar {
    padding-left: 20vw;
    padding-right: 20vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

mat-toolbar button {
    margin-left: 10px;
    margin-right: 10px;
}

mat-toolbar span {
    cursor: pointer;
}